.about-wrapper{
	background-color: $accent-color;
	display: flex;
	justify-content: center;
	min-height: 90vh;
	align-items: center;
}

.about{
	max-width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.title{
		/*border: 1px solid black;*/
		font-size: 2em;
		margin-top: 60px;
		color: white;
	}

	.about-content{
		color: darken(white, 20%);
		margin-top: 60px;
		margin-bottom: 120px;
		line-height: 30px;
	}

}