.intro-wrapper{
	min-height: calc(100vh - 50px);
	background-color: $main-color;
	color: $accent-color;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

	.intro{
		/*border: 1px solid black;*/
		font-size: 1.5em;
		text-align: center;
		max-width: 80%;

		.name-intro{
			margin-bottom: 20px;
			font-size: 1em;
		}

		b{
			color: lighten($accent-color, 10%);
		}

	}

	@media screen and (max-width: $first-break){
		.intro{

			.what-i-do{
				font-size: 0.8em;
				line-height: 20px;
			}
		}
	}
}

