.nav-wrapper{
	background-color: $accent-color;
	width: 100%;
	color: white;
}

.navigation{
	height: 50px;
	line-height: 50px;
	max-width: 80%;
	margin: auto;
	display: flex;

	& > *{
		flex: 1 1;
	}

	.title{
		flex: 1 1;
		padding-left: 20px;
	}

	ul{
		display: flex;
		justify-content: flex-end;

		li{
			list-style-type: none;
			text-align: center;
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 100px;
			cursor: pointer;
			font-size: 0.8em;

			&:hover{
				background-color: lighten($accent-color, 10%);
			}
		}

	}
}