@import "variables";

*{
	margin: 0;
	padding: 0;
	font-family: Rubik, sans-serif;
	box-sizing: border-box;
}

@media screen and (min-width: 1500px){
	font-size: 20px;
}

.typed-cursor{
	display: none;
}

@import "navigation";
@import "intro";
@import "work";
@import "socials";
@import "about";
@import "contact";
@import "footer";